@model SafetyBoard.Models.ViewModel.InspectionFormViewModel
@{
    ViewBag.Title = "Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inspection Details</h2>

<div class="inspectionView">
    <div class="inspectionInfo">
        Name : @Model.User.FirstName @Model.User.LastName<br />
        Date and Time Posted: @Model.GetDateTime()<br />
        Inspection Type: @Model.SafetyCategory<br />
        @if (Model.IsCanceled == true)
        {
            <p>Status: <span class="label label-warning">Canceled</span></p>
        }
        else
        {
            <p>Status: <span class="label label-success">Active</span></p>
        }
    </div>
    <hr />
    <div class="inspectionDetails">
        Description: @Model.Description
    </div>
</div="inspection">

@section scripts
    {
    @Scripts.Render("~/bundles/jqueryval")
}

