@model SafetyBoard.Models.ViewModel.MyProfileViewModel
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="btnEdit">
    <h2>My Profile</h2>@Html.ActionLink("Edit", "EditProfile", "User", new { @class = "btn btn-primary" })
</div>
@using (Html.BeginForm("EditProfile", "User"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @readonly = "readonly", @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @readonly = "readonly", @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Organization)
        @Html.TextBoxFor(c=>c.OrganizationName, new { @readonly = "readonly", @class = "form-control" })

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @readonly = "readonly", @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber)
        @Html.TextBoxFor(m => m.PhoneNumber, new { @readonly = "readonly", @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DriversLicense)
        @Html.TextBoxFor(m => m.DriversLicense, new { @readonly = "readonly", @class = "form-control" })
    </div>

}
