<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Safety Board</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    @if (User.IsInRole("CanManagePosts"))
    {
        @Html.Partial("_NavBarForAdmin")
    }
    else
    {
        @Html.Partial("_NavBarForUsers")
    }
    

    <div class="container body-content">
        @RenderBody()
    </div>
    <div class="push"></div>
    
    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
    <script type="text/x-template" id="notifications-template">
        <ul class="notifications">
            <% 
                _.each(notifications, function(notification){
                    if(notification.type == 1){%>
                        <li><span class="highlight"> <%= notification.inspection.user.firstName%> <%=notification.inspection.user.lastName %> </span> has created an <%= notification.inspection.inspectionType.safetyCategory %> inspection scheduled on <%= moment(notification.inspection.dateTime).format("MMM D") %>.</li>  
                    <%}
                    if(notification.type == 2){%>
                        <li><span class="highlight"> <%= notification.inspection.user.firstName%> <%=notification.inspection.user.lastName %> </span> has canceled the <%= notification.inspection.inspectionType.safetyCategory %> inspections scheduled on <%= moment(notification.inspection.dateTime).format("MMM D") %>.</li>  
                    <%}
                    if(notification.type == 3){%>
                        <li><span class="highlight"> <%= notification.inspection.user.firstName%> <%=notification.inspection.user.lastName %> </span> has updated the <%= notification.inspection.inspectionType.safetyCategory %> inspections scheduled on <%= moment(notification.inspection.dateTime).format("MMM D") %>.</li>  
                    <%}
                    if(notification.type == 4){%>
                        <li><span class="highlight"> <%= notification.safetyNews.user.firstName%> <%=notification.safetyNews.user.lastName %> </span> from your organization posted an article called the "<%= notification.safetyNews.title %>" on <%= moment(notification.safetyNews.datePosted).format("MMM D") %>.</li>  
                    <%}
                })
            %>
        </ul>
    </script>
    <script>
        $(document).ready(function () {
            $.getJSON("/api/notifications", function (notifications) {
                if (notifications.length == 0)
                    return;

                $(".js-notifications-count")
                    .text(notifications.length)
                    .removeClass("hide")
                    .addClass("animated bounceInDown");
                $(".notifications").popover({
                    html: true,
                    title: "Notifications",
                    content: function () {
                        var compiled = _.template($("#notifications-template").html());
                        return compiled({ notifications: notifications });
                    },
                    placement: "bottom"
                }).on("shown.bs.popover", function () {
                    $.post("/api/notifications/markAsRead")
                        .done(function () {
                            $(".js-notifications-count")
                                .text("")
                        });
                });
            });
            
        });
    </script>
</body>

</html>
