@model IEnumerable<SafetyBoard.Models.Inspection>
@{
    ViewBag.Title = "Home Page";
}
<h2>Upcoming Inspections</h2>
<ul class="inspections">
    @foreach (var inspection in Model)
    {
    <li>
        <div class="date">
            <div class="month">
                @inspection.DateTime.ToString("MMM")
            </div>
            <div class="day">
                @inspection.DateTime.ToString("d ")
            </div>
        </div>
        <div class="details">
            <span class="inspector">
                <strong> @inspection.Inspector.FirstName @inspection.Inspector.LastName</strong>
            </span>
            <span class="inspectionType">
                @inspection.InspectionType.SafetyCategory Inspection
            </span>
            <br />
            @if (inspection.Inspector.Email == User.Identity.Name)
            {
                <span class="view">
                    <a href="@Url.Action("Edit","Inspections", new { id = inspection.Id})">Edit</a> |
                </span>
                <span class="delete">
                    <a href="#" class="js-cancel-inspection" data-inspection-id="@inspection.Id">Cancel</a> |
                </span>
            }
            <span class="edit">
                <a href="@Url.Action("View","Inspections", new { id = inspection.Id})">View</a>
            </span>

        </div>
    </li>
        
    }

</ul>
@section scripts
    {
        <script>
            $(document).ready(function () {
                $(".js-cancel-inspection").click(function (e) {
                    var cancelLink = $(e.target);

                    bootbox.dialog({
                        title: 'Confirm',
                        message: "Are you sure you want to cancel this inspection?",
                        buttons: {
                            no: {
                                label: "No",
                                className: 'btn-default',
                                callback: function () {
                                    bootbox.hideAll();
                                }
                            },
                            yes: {
                                label: "Yes",
                                className: 'btn-danger',
                                callback: function () {
                                    $.ajax({
                                        url: "/api/inspections/" + cancelLink.attr("data-inspection-id"),
                                        method: "DELETE"
                                    })
                                        .done(function () {
                                            cancelLink.parents("li").fadeOut(function () {
                                                $(this).remove();
                                            });
                                            toastr.success("Inspection has been successfully cancelled")
                                        })
                                        .fail(function () {
                                            toastr.fail("An error has occured.");
                                        });
                                }
                            }
                        }
                    });
                });
            });
        </script>
    }



