@model IEnumerable<SafetyBoard.Models.Inspection>
@{
    ViewBag.Title = "Home Page";
}
<h2>Upcoming Inspections</h2>
<ul class="inspections">
    @foreach (var inspection in Model)
    {
    <li>
        <div class="date">
            <div class="month">
                @inspection.DateTime.ToString("MMM")
            </div>
            <div class="day">
                @inspection.DateTime.ToString("d ")
            </div>
        </div>
        <div class="details">
            @if (inspection.Inspector.Email == User.Identity.Name)
            {
                <span class="view">
                    <a href="@Url.Action("Edit","Inspections", new { id = inspection.Id})">Edit</a>
                </span>
            }
            <span class="edit">
                <a href="@Url.Action("View","Inspections", new { id = inspection.Id})">View</a>
            </span>
            <span class="inspector">
                <strong> @inspection.Inspector.FirstName @inspection.Inspector.LastName</strong>
            </span>
            <span class="inspectionType">
                @inspection.InspectionType.SafetyCategory
            </span>

            <span class="organization">
                @inspection.Organization.Name
            </span>
        </div>
    </li>
        
    }

</ul>



